:root {
  --green: #b7fffb;
  --dark-one: #e4e4e4;
  --gap: 10px;
}

html {
  height: 100vh;
}
body {
  font-size: 13px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
input[type=file] {
  display: none;
}
h2 {
  background-color: var(--green);
  padding: var(--gap);
  text-align: center;
}

#files:empty::before {
  content: attr(data-msg);
  position: absolute;
  inset: 0;
  display: grid;
  place-content: center;
  font-size: max(1rem, min(4vw, 1.5rem));
  overflow: hidden;
  background-color: #fffbf3;
  padding: 10px;
  text-align: center;
  white-space: pre-wrap;
}

.groups {
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  grid-gap: var(--gap);
}
.group {
  display: contents;
}
.group summary {
  grid-column: 1/4;
  background-color: var(--dark-one);
  padding-block: var(--gap);
  padding-left: var(--gap);
  user-select: none;
}
.tags {
  display: contents;
}
.tags :nth-child(3n - 2) {
  white-space: nowrap;
  padding-left: var(--gap);
}
.tags :nth-child(3n - 1) {
  white-space: break-spaces;
}
.tags :nth-child(3n) {
  justify-self: end;
  padding-right: var(--gap);
}
.tag {
  display: contents;
}
.tag:hover {
  color: blue;
}

@media screen and (max-width: 500px) {
  .groups {
    grid-template-columns: min-content 1fr;
  }
  .group summary {
    grid-column: 1/3;
  }
  .tags :nth-child(3n) {
    display: none;
  }
}
